.rhap_download-progress {
  background-color: #29bed2;
}
.rhap_progress-indicator {
  background-color: #29bed2;
}
.rhap_volume-bar {
  background-color: #29bed2;
}
.rhap_volume-indicator {
  background-color: #29bed2;
}
.rhap_button-clear {
  color: #29bed2;
}
